@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=PT+Serif:wght@700&family=Poppins:wght@400;600&display=swap');

.page-title-font {
    font-family: 'PT Serif', serif;
}

.content-title-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.content-paragraph-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.footer-font {
    font-family: 'Montserrat', sans-serif;
}